<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">First meeting for volunteer</h2>
      <p class="lead">First meeting for volunteer....</p>
    </div>
    <div class="col-md-5">
      <img src="assets/img/meeting_volunteer.jpeg" width="100%"
           alt="Meeting">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Video Eglantines</h2>
      <p class="lead">Video Eglantines....</p>
    </div>
    <div class="col-md-5 order-md-1">
      <video controls width="100%">
        <source src="assets/videos/eglantines.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">New logo </h2>
      <p class="lead">New logo ....</p>
    </div>
    <div class="col-md-5">
      <img src="assets/img/logo_dcl2025_bleu.png" width="100%"
           alt="Logo bleu">
      <img src="assets/img/logo_dcl2025_blanc.png" width="100%"
           alt="Logo blanc">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">First candidature</h2>
      <p class="lead">First canditature.</p>
    </div>
    <div class="col-md-5">
      <img src="assets/img/logo_dcl2025_v1.jpeg" width="100%"
           alt="Meeting">
    </div>
  </div>

</div>
