<div class="container mt-4">
  <div class="row">
    <h2>Matchs de groupe</h2>
    <div class="col-md-6">
      <h3>Groupe A</h3>
      <ul>
        <li>Team A1 <strong>2</strong> - <strong>1</strong> Team A3 - Date: 2024-05-26 - Heure:
          10:00
        </li>
        <li>Team A2 <strong>1</strong> - <strong>0</strong> Team A4 - Date: 2024-05-26 - Heure:
          14:00
        </li>
        <li>Team A4 <strong>3</strong> - <strong>2</strong> Team A1 - Date: 2024-05-27 - Heure:
          10:00
        </li>
        <li>Team A3 <strong>2</strong> - <strong>2</strong> Team A2 - Date: 2024-05-27 - Heure:
          14:00
        </li>
        <li>Team A1 <strong>1</strong> - <strong>3</strong> Team A2 - Date: 2024-05-28 - Heure:
          10:00
        </li>
        <li>Team A3 <strong>0</strong> - <strong>4</strong> Team A4 - Date: 2024-05-28 - Heure:
          14:00
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Groupe B</h3>
      <ul>
        <li>Team B1 <strong>3</strong> - <strong>0</strong> Team B3 - Date: 2024-05-26 - Heure:
          10:00
        </li>
        <li>Team B2 <strong>1</strong> - <strong>4</strong> Team B4 - Date: 2024-05-26 - Heure:
          14:00
        </li>
        <li>Team B4 <strong>2</strong> - <strong>1</strong> Team B1 - Date: 2024-05-27 - Heure:
          10:00
        </li>
        <li>Team B2 <strong>1</strong> - <strong>1</strong> Team B2 - Date: 2024-05-27 - Heure:
          14:00
        </li>
        <li>Team B1 <strong>0</strong> - <strong>2</strong> Team B2 - Date: 2024-05-28 - Heure:
          10:00
        </li>
        <li>Team B3 <strong>3</strong> - <strong>3</strong> Team B4 - Date: 2024-05-28 - Heure:
          14:00
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Groupe C</h3>
      <ul>
        <li>Team C1 <strong>2</strong> - <strong>2</strong> Team C3 - Date: 2024-05-26 - Heure:
          10:00
        </li>
        <li>Team C2 <strong>4</strong> - <strong>1</strong> Team C4 - Date: 2024-05-26 - Heure:
          14:00
        </li>
        <li>Team C4 <strong>5</strong> - <strong>3</strong> Team C1 - Date: 2024-05-27 - Heure:
          10:00
        </li>
        <li>Team C3 <strong>1</strong> - <strong>0</strong> Team C2 - Date: 2024-05-27 - Heure:
          14:00
        </li>
        <li>Team C1 <strong>2</strong> - <strong>2</strong> Team C2 - Date: 2024-05-28 - Heure:
          10:00
        </li>
        <li>Team C3 <strong>3</strong> - <strong>2</strong> Team C4 - Date: 2024-05-28 - Heure:
          14:00
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Groupe D</h3>
      <ul>
        <li>Team D1 <strong>4</strong> - <strong>2</strong> Team D3 - Date: 2024-05-26 - Heure:
          10:00
        </li>
        <li>Team D2 <strong>1</strong> - <strong>1</strong> Team D4 - Date: 2024-05-26 - Heure:
          14:00
        </li>
        <li>Team D4 <strong>3</strong> - <strong>0</strong> Team D1 - Date: 2024-05-27 - Heure:
          10:00
        </li>
        <li>Team D3 <strong>2</strong> - <strong>2</strong> Team D2 - Date: 2024-05-27 - Heure:
          14:00
        </li>
        <li>Team D1 <strong>0</strong> - <strong>1</strong> Team D2 - Date: 2024-05-28 - Heure:
          10:00
        </li>
        <li>Team D3 <strong>1</strong> - <strong>3</strong> Team D4 - Date: 2024-05-28 - Heure:
          14:00
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <!-- Groupe 1 -->
    <div class="col-md-6">
      <h3>Groupe A</h3>
      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th>Team</th>
          <th>J</th>
          <th>V</th>
          <th>N</th>
          <th>D</th>
          <th>Buts -</th>
          <th>Buts +</th>
          <th>+/-</th>
          <th>Pts</th>
        </tr>
        </thead>
        <tbody>
        <tr class="green-row">
          <td>Team A1</td>
          <td>10</td>
          <td>8</td>
          <td>1</td>
          <td>1</td>
          <td>5</td>
          <td>20</td>
          <td>+15</td>
          <td>25</td>
        </tr>
        <tr class="green-row">
          <td>Team A2</td>
          <td>10</td>
          <td>7</td>
          <td>2</td>
          <td>1</td>
          <td>6</td>
          <td>18</td>
          <td>+12</td>
          <td>23</td>
        </tr>
        <tr>
          <td>Team A3</td>
          <td>10</td>
          <td>6</td>
          <td>3</td>
          <td>1</td>
          <td>7</td>
          <td>17</td>
          <td>+10</td>
          <td>21</td>
        </tr>
        <tr>
          <td>Team A4</td>
          <td>10</td>
          <td>5</td>
          <td>4</td>
          <td>1</td>
          <td>8</td>
          <td>15</td>
          <td>+7</td>
          <td>19</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Groupe 2 -->
    <div class="col-md-6">
      <h3>Groupe B</h3>
      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th>Team</th>
          <th>J</th>
          <th>V</th>
          <th>N</th>
          <th>D</th>
          <th>Buts -</th>
          <th>Buts +</th>
          <th>+/-</th>
          <th>Pts</th>
        </tr>
        </thead>
        <tbody>
        <tr class="green-row">
          <td>Team B1</td>
          <td>10</td>
          <td>9</td>
          <td>0</td>
          <td>1</td>
          <td>4</td>
          <td>22</td>
          <td>+18</td>
          <td>27</td>
        </tr>
        <tr class="green-row">
          <td>Team B2</td>
          <td>10</td>
          <td>7</td>
          <td>2</td>
          <td>1</td>
          <td>5</td>
          <td>19</td>
          <td>+14</td>
          <td>23</td>
        </tr>
        <tr>
          <td>Team B3</td>
          <td>10</td>
          <td>6</td>
          <td>3</td>
          <td>1</td>
          <td>9</td>
          <td>18</td>
          <td>+9</td>
          <td>21</td>
        </tr>
        <tr>
          <td>Team B4</td>
          <td>10</td>
          <td>4</td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
          <td>15</td>
          <td>+5</td>
          <td>16</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4">
    <!-- Groupe 3 -->
    <div class="col-md-6">
      <h3>Groupe C</h3>
      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th>Team</th>
          <th>J</th>
          <th>V</th>
          <th>N</th>
          <th>D</th>
          <th>Buts -</th>
          <th>Buts +</th>
          <th>+/-</th>
          <th>Pts</th>
        </tr>
        </thead>
        <tbody>
        <tr class="green-row">
          <td>Team C1</td>
          <td>10</td>
          <td>8</td>
          <td>1</td>
          <td>1</td>
          <td>6</td>
          <td>20</td>
          <td>+14</td>
          <td>25</td>
        </tr>
        <tr class="green-row">
          <td>Team C2</td>
          <td>10</td>
          <td>7</td>
          <td>2</td>
          <td>1</td>
          <td>7</td>
          <td>19</td>
          <td>+12</td>
          <td>23</td>
        </tr>
        <tr>
          <td>Team C3</td>
          <td>10</td>
          <td>5</td>
          <td>4</td>
          <td>1</td>
          <td>8</td>
          <td>15</td>
          <td>+7</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Team C4</td>
          <td>10</td>
          <td>4</td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
          <td>14</td>
          <td>+4</td>
          <td>16</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Groupe 4 -->
    <div class="col-md-6">
      <h3>Groupe D</h3>
      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th>Team</th>
          <th>J</th>
          <th>V</th>
          <th>N</th>
          <th>D</th>
          <th>Buts -</th>
          <th>Buts +</th>
          <th>+/-</th>
          <th>Pts</th>
        </tr>
        </thead>
        <tbody>
        <tr class="green-row">
          <td>Team D1</td>
          <td>10</td>
          <td>9</td>
          <td>1</td>
          <td>0</td>
          <td>3</td>
          <td>24</td>
          <td>+21</td>
          <td>28</td>
        </tr>
        <tr class="green-row">
          <td>Team D2</td>
          <td>10</td>
          <td>6</td>
          <td>2</td>
          <td>2</td>
          <td>8</td>
          <td>18</td>
          <td>+10</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Team D3</td>
          <td>10</td>
          <td>5</td>
          <td>3</td>
          <td>2</td>
          <td>12</td>
          <td>15</td>
          <td>+3</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Team D4</td>
          <td>10</td>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>15</td>
          <td>12</td>
          <td>-3</td>
          <td>12</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Phase finale 13-16</h2>
      <main id="tournament2">
        <ul class="round round-2">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team C4 <span>1</span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team B4 <span>3</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team D4 <span>0</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team B4 <span>0</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>


          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 9-12</h2>
      <main id="tournament3">
        <ul class="round round-2">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team C3 <span>1</span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team B3 <span>3</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team D3 <span>0</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 1-8</h2>
      <main id="tournament">
        <ul class="round round-2">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A1 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team B2 <span>1</span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team C1 <span>3</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team D2 <span>0</span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top ">Team A2 <span>1</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom winner">Team B1 <span>3</span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top ">Team C2 <span>0</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom winner">Team D1 <span>5</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A1 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team C1 <span>0</span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top ">Team B1 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom winner">Team D1 <span>3</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A1 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team D1 <span>0</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 15-16</h2>
      <main id="tournament4">
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 13-14</h2>
      <main id="tournament5">
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 11-12</h2>
      <main id="tournament6">
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 9-10</h2>
      <main id="tournament7">
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 5-8</h2>
      <main id="tournament8">
        <ul class="round round-2">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team C4 <span>1</span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team B4 <span>3</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team D4 <span>0</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team B4 <span>0</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>


          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 1-4</h2>
      <main id="tournament9">
        <ul class="round round-2">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team C4 <span>1</span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team B4 <span>3</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team D4 <span>0</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Team B4 <span>0</span></li>

          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Team A4 <span>2</span></li>


          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 7-8</h2>
      <main id="tournament10">
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 5-6</h2>
      <main id="tournament11">
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 3-4</h2>
      <main id="tournament12">
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
      <h2>Phase finale 1-2</h2>
      <main id="tournament13">
        <ul class="round round-3">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom">Team B3 <span>0</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
          <li class="spacer">&nbsp;</li>
          <li class="game game-top winner">Team A3 <span>2</span></li>
          <li class="spacer">&nbsp;</li>
        </ul>
      </main>
    </div>
  </div>
</div>
