<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_cssreims_color.png"
               alt="Logo CSS Reims" width="50%">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_dcl_blue.png"
               alt="Logo DCL">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://www.deafchampionsleague.eu/" target="_blank">Link to DCL</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_cffs_blanc.png"
               alt="Logo CFFS">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://www.footballsourds.com/" target="_blank">Link to CFFS</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_factory_festival.png"
               alt="Logo Festival">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://www.clin-doeil.eu/fr/" target="_blank">Link to Festival</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_grandest.png"
               alt="Logo Grand Est">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://www.grandest.fr" target="_blank">Link to Grand Est</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_marne.png"
               alt="Logo Marne">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://www.marne.fr" target="_blank">Link to Marne</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_reims.png"
               alt="Logo Ville de Reims">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://www.reims.fr" target="_blank">Link to Ville de Reims</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_handisport-grand-est.png"
               alt="Logo Handisport Grand Est">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://www.handisport-grandest.org/" target="_blank">Link to Handisport
                Grand Est</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_cinesourds_noir.png"
               alt="Logo CinéSourds">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_sils51.png"
               alt="Logo SILS51">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://www.sils51.fr/" target="_blank">Link to SILS51</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/under-construction.svg"
               alt="Logo under construction">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
