<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_dcl2025_profil_blanc.png"
               alt="Logo DCL 2025">
          <div class="card-body">
            <p class="card-text">Logo profil transparent white</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_dcl2025_profil_fond_bleu.png"
               alt="Logo DCL 2025">
          <div class="card-body">
            <p class="card-text">Logo profil blue</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_dcl2025_bleu.png"
               alt="Logo DCL 2025">
          <div class="card-body">
            <p class="card-text">Logo horizontal transparent blue</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_dcl2025_blanc.png"
               alt="Logo DCL 2025">
          <div class="card-body">
            <p class="card-text">Logo horizontal transparent white</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_dcl2025_fond_blanc.png"
               alt="Logo DCL 2025">
          <div class="card-body">
            <p class="card-text">Logo horizontal fond white</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_dcl2025_fond_bleu.png"
               alt="Logo DCL 2025">
          <div class="card-body">
            <p class="card-text">Logo network social fond blue </p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/logo_dcl2025_reseau_social_blanc.png"
               alt="Logo DCL 2025">
          <div class="card-body">
            <p class="card-text">Logo network social fond white</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
