<nav class="nav nav-underline justify-content-between">
  <a class="nav-item nav-link link-body-emphasis active" (click)="navigate('/')">Home</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/history')">History</a>
  <a class="nav-item nav-link link-body-emphasis">Awards</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/logos')">Logos</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/oc')">Organization Comittee</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/news')">News</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/partner')">Partners</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/hotel')">Hotels</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/stadium')">Stadiums</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/team')">Teams</a>
  <a class="nav-item nav-link link-body-emphasis" (click)="navigate('/schedule')">Schedule</a>
  <a class="nav-item nav-link link-body-emphasis">Tickets/Pass</a>
</nav>


<!--<nav class="navbar navbar-expand-md fixed-top">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand"-->
<!--       href="#"></a>-->
<!--    <button class="navbar-toggler"-->
<!--            type="button"-->
<!--            data-bs-toggle="collapse"-->
<!--            data-bs-target="#navbarCollapse"-->
<!--            aria-controls="navbarCollapse"-->
<!--            aria-expanded="false"-->
<!--            aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse"-->
<!--         id="navbarCollapse">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/home')">-->
<!--          <a class="nav-link active"-->
<!--             aria-current="page"-->
<!--             routerLink="/">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/history')">-->
<!--          <a class="nav-link"-->
<!--             routerLink="/history">History</a>-->
<!--        </li>-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/oc')">-->
<!--          <a class="nav-link"-->
<!--             routerLink="/oc">Organization Comittee</a>-->
<!--        </li>-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/news')">-->
<!--          <a class="nav-link"-->
<!--             routerLink="/news">News</a>-->
<!--        </li>-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/partner')">-->
<!--          <a class="nav-link"-->
<!--             routerLink="/partner">Partenaires/sponsors</a>-->
<!--        </li>-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/hotel')">-->
<!--          <a class="nav-link"-->
<!--             routerLink="/hotel">Hotels</a>-->
<!--        </li>-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/stadium')">-->
<!--          <a class="nav-link"-->
<!--             routerLink="/stadium">Stadiums</a>-->
<!--        </li>-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/team')">-->
<!--          <a class="nav-link"-->
<!--             routerLink="/team">Teams</a>-->
<!--        </li>-->
<!--        <li class="nav-item"-->
<!--            (click)="navigate('/schedule')">-->
<!--          <a class="nav-link"-->
<!--             routerLink="/schedule">Schedule</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
